body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  margin: 2rem 0;
  background-color: rgb(87, 107, 87);
}

.navLinks {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  margin: 1rem;
  font-size: 2rem;
  border-radius: 6px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.navLinks.active,
.navLinks:focus,
.navLinks:hover {
  color: rgb(194, 188, 255);
  background-color: rgba(103, 151, 141, 0.74);
}

.experimentCard {
  border: solid black 2px
}

.imgWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  margin: 1.5rem auto;
}

table, th, td {
  border: 1px solid;
}

.button1 {
  background-color: gray;
  color: black;
  border: 2px solid brown; /* Green */
}

.smallInput {
  width: 50px;
 }


/* Login page stuff */
.loginBody{
  background-image: linear-gradient(to bottom right, rgb(21,29,61), rgb(0,107,36));
  height: 100vh;
  width: 100vw;
  text-align: center;
}
.loginPage{
  padding-top: 20%;
  width: auto;
  display: inline-block;
}
.loginPage form{
  text-align: left;
}
.loginButton {
  height: auto;
  width: 10em;
}
.loginPage input{
  height: auto;
  width: 10em;
}
.loginButton:hover:after{
  content: "Let's Cook";
}
.loginButton:hover span{
  display: none
}
